<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pfpj.dao.FolderMapper" >
    <resultMap id="BaseResultMap" type="com.pfpj.entity.Folder">
        <result column="folder_name" property="folderName" javaType="String"></result>
        <result column="folder_url" property="folderPath" javaType="String"></result>
    </resultMap>
    <select id="queryFolderByFolderPath" parameterType="java.lang.String" resultMap="BaseResultMap">
        select folder_name, folder_url from folder where folder_url = #{folderPath}
    </select>
    <insert id="saveFolder" parameterType="com.pfpj.entity.Folder"  >
        INSERT  INTO  folder values(#{folderName},#{folderPath})
    </insert>


  
</mapper>